{% extends 'base.html' %}

{% block title %}  Edit Blog Post {% endblock%}

{% block content %}

<h1>  Update Post ...  </h1>
<br><br>


<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary">Update</button>


</form>
</div>

{% endblock %}



<!--<div class="form-group">-->

<!--<div class="input-group date" id="datetimepicker1" data-target-input="nearest">-->
<!--  {{ form.date }}-->
<!--  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">-->
<!--    <div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
<!--  </div>-->
<!--</div>-->

<!--<script>-->
<!--  $(function () {-->
<!--    $("#datetimepicker1").datetimepicker({-->
<!--      format: 'DD/MM/YYYY HH:mm',-->
<!--    });-->
<!--  });-->
<!--</script>-->